html {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

* {
box-sizing: border-box;
}

.container {
    display: flex;
    min-width: 1440px;
    min-height: 910px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-conteiner {
    display: flex;
    min-width: 1401px;
    min-height: 50px;
    margin-top: 20px;
    margin-left: 20px;background: url('./assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;

    
}

/* .container-two {
    display: flex;
    justify-content: right;
}

.nav-list {
    display: flex;
    margin-left: auto;
}

.switch-lang {
    display: flex;
} */

